{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="admin-container">
        <h1>Admin Dashboard</h1>
        <table class="admin-table">
            <thead>
            <tr>
                <th>Section</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Posts</td>
                <td><a href="{{ path('admin_list', {'type': 'post'}) }}">View all posts</a></td>
            </tr>
            <tr>
                <td>Users</td>
                <td><a href="{{ path('admin_list', {'type': 'user'}) }}">View all users</a></td>
            </tr>
            <tr>
                <td>Comments</td>
                <td><a href="{{ path('admin_list', {'type': 'comment'}) }}">View all comments</a></td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
