@font-face {
    font-family: 'Nova Script';
    src: url('/font/NovaScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nova Round';
    src: url('/font/NovaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
