body {
    background-color: #f2f2f2;
}

.card-form {
    background-color: #ede4f4;
    box-shadow: 8px 8px 15px #d2c3e3;
    border-radius: 25px;
    padding: 40px 60px;
    max-width: 900px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.card-form .form-section {
    width: 50%;
    align-content: center;
}

.titre {
    font-family: 'Nova Script';
    color: #5a6c9c;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.card-form .form-section label {
    color: #768249;
    display: block;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 1rem;
    font-family: "Nova Round";
}

.card-form .form-section input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.card-form .form-section button {
    margin-top: 20px;
    background-color: #ffffff;
    color: #6c757d;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #cbb7db;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    color: #768249;
    font-family: "Nova Round";
}

.card-form .form-section button:hover {
    background-color: #cbb7db;
    color: #FFFFFF;
}

.card-form .image-section {
    width: 60%;
}

.card-form .image-section img {
    width: 100%;
    max-width: 700px;
}

.btn-submit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.create-acc {
    margin-top: 10px;
}

.create-acc a {
    text-decoration: none;
    color: #768249;
    font-family: "Nova Round";
    font-size: 12px;
}
