.sidebar {
    position: sticky;
    top: 0;
    width: 250px;
    max-height: 100vh;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 320px;
    border-right: 3px solid #ccc;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img {
    max-height: 150px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.nav-item {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #a2aa7d;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
    font-family: "Nova Round";
    font-size: 20px;
}

.nav-item svg {
    width: 30px;
    height: 30px;
    /*#a2aa7d;*/
}

.nav-item:hover {
    color: #BBA8DD;
}

.poster {
    margin-top: 30px;
    text-align: center;
}

.poster button {
    background-color: #BBA8DD;
    color: white;
    font-weight: bold;
    padding: 5px 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: "Nova Round";
    font-style: italic;
    font-size: 25px;
}

.poster button:hover {
    background-color: #82669e;
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.user-info a {
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.85em;
    color: #888;
}

.username {
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin: 0;
}

.logout-button {
    background-color: #cbb6e4;
    color: white;
    font-weight: 600;
    border: none;
    padding: 8px 60px;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Nova Round";
    font-size: 15px;
}

.logout-button:hover {
    background-color: #82669e;
}
