body {
    background-color: #FAF9F6;
}

.feed-container {
    border-right: 3px solid #ccc;
}

.userInfo {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FAF9F6;
}

.profile-banner {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.profile-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

.profile-picture-wrapper {
    margin-left: 10px;
    position: relative;
    margin-top: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #a2aa7d;
    background-color: #FAF9F6;
    z-index: 1;
}

.profile {
    margin-left: 20px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h3 {
    margin: 5px 0;
    color: #000000;
    font-size: 30px;
}

.profile h4 {
    margin: 5px 0;
    color: #777777;
    font-size: 20px;
}

.edit-btn {
    margin-top: 10px;
    margin-right: 10px;
    background-color: #a2aa7d;
    color: white;
    font-weight: 600;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    border: 3px solid #747c50;
    cursor: pointer;
    font-family: "Nova Round";
    font-style: italic;
    font-size: 15px;
}

.edit-btn:hover {
    background-color: #747c50;
    border: 3px solid #545a36;
}

.follow-btn {
    margin-top: 10px;
    margin-right: 10px;
    background-color: #a2aa7d;
    color: white;
    font-weight: 600;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    border: 3px solid #747c50;
    cursor: pointer;
    font-family: "Nova Round";
    font-style: italic;
    font-size: 15px;
}

.follow-btn:hover {
    background-color: #747c50;
    border: 3px solid #545a36;
}

.profile-nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: "Nova Round";
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #A2AA7D;
}

.profile-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    font-family: "Nova Round";
    font-size: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #A2AA7D;
}

.profile-nav button {
    background: none;
    border: none;
    color: #A2AA7D;
    cursor: pointer;
    padding-bottom: 10px;
    font-family: inherit;
    font-size: inherit;
}

.profile-nav button.active {
    color: #82669e;
    font-style: italic;
}

.profile-nav button:hover {
    color: #82669e;
}

.profile-nav button.active {
    color: #82669e;
}

